/* Common CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* back-#230e3d, card-#2a0f4d #250d44 #1a0b2e */
  
  body{
    background-color: #1a0b2e;
    max-width: 1600px;
    margin: 0 auto;
    }

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 200px;
  border-bottom:1px solid #412567;
}

nav h1{
  font-size: 32px;
  font-weight: 900;

}

nav h1 span{
  background: linear-gradient(to right, 
  rgba(247, 233, 63, 1) 0%, 
  rgba(251, 9, 180, 1) 50%, 
  rgba(145, 0, 248, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* border: 1px solid red; */
nav .wide-nav {
  display: flex;
  justify-content: space-between;
  min-width: 55%
}

.menu {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20px;
  
}

.menu p{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
}

.btn{
  border: none;
  padding: 12px 16px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.btn-trans{
  border: 1px solid #00ff88;
  padding: 12px 16px;
  background-color: transparent;
  color: #00ff88;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.btn img {
  width: 20px;
  margin: -4px 5px;
}
.btn-trans img{
  width: 20px;
  margin: -3px 5px;
}

.hero-buttons .message{
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.burger-menu{
  margin-right: 0 auto
}

#hero{
  height:100%;
}

.hero-images{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 600px;
  position: relative;
  background-image: url("./assets/hero-bg.png")
}

.hero-bg{
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.hero-circle{
  
  position: absolute;
  top: 25%;
  left: 52%;
  width: 276px;
  z-index: 1;
}
.microphone{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 100px;
  z-index: 2;}

#hero h1{
  font-size: 48px;
  font-weight: 900;
  color: #FFFFFF;
  margin-top: 60px;
}


#hero {
  padding-bottom: 151px;
}


.hero-content {
  max-width: fit-content;
  margin: 0 auto;
}

.hero-content h1{
  font-size: 60px;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 8px;
  text-align: center;
  
}
.hero-content p{
  font-size: 16px;
  padding-bottom: 24px;
}

.hero-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


#about{

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-top h2{
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 16px;
}

.about-top p{
 font-size: 16px;
 padding-bottom: 78px;
 text-align: center;
}

.devider{
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  
  
}
.devider hr {
  border: none;
  border-top: 1px solid #412567;
}

.status{
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  gap: ;
  justify-content: space-between;
  align-items: center;
}

.status .card h3{
  font-size: 48px;
  color: #00ff88;
}



/* Responsive design */
@media screen and (max-width:576px) {
  nav .wide-nav{
    display: none;
  }
  .burger-menu{
    display: block;
    ;
  }
  nav{
    padding: 28px 20px 16px 20px;
  }
}

@media screen and (min-width:577px) {
  .burger-menu{
    display: none;
  }

}